<!doctype html>
<html>
  <body>
    <div
      style='background-color:#f1fdee;color:#171717;font-family:Bahnschrift, "DIN Alternate", "Franklin Gothic Medium", "Nimbus Sans Narrow", sans-serif-condensed, sans-serif;font-size:16px;font-weight:400;letter-spacing:0.15008px;line-height:1.5;margin:0;padding:32px 0;min-height:100%;width:100%'
    >
      <table
        align="center"
        width="100%"
        style="margin:0 auto;max-width:600px;background-color:#f1fdee;border-radius:0"
        role="presentation"
        cellspacing="0"
        cellpadding="0"
        border="0"
      >
        <tbody>
          <tr style="width:100%">
            <td>
              <div style="padding:16px 24px 16px 24px">
                <img
                  alt=""
                  src="cid:logoImage"
                  height="64"
                  width="64"
                  style="outline:none;border:none;text-decoration:none;object-fit:cover;height:64px;width:64px;max-width:100%;display:inline-block;vertical-align:middle;text-align:center"
                />
              </div>
              <div style="border-radius:48px;padding:16px 12px 8px 4px">
                <div
                  style="font-size:17px;font-weight:bold;text-align:left;padding:16px 24px 16px 24px"
                >
                <strong><span th:text="${subject}" /></strong>
                </div>
              </div>
              <div style="height:16px"></div>
              <div
                style="background-color:#ffffff;border-radius:24px;padding:16px 24px 16px 24px"
              >
                <div style="font-weight:normal;padding:16px 24px 16px 24px">
                  Dear <span th:text="${name}" />,
                </div>
                <div style="font-weight:normal;padding:16px 24px 16px 24px">
                  Welcome to LocalMarket! We are excited to have you join our
                  vibrant community of producers. As a valued member, you will
                  have access to a wide network of customers and fellow
                  producers. We're here to support you every step of the
                  way to help your business grow.
                </div>
                <div style="font-weight:normal;padding:16px 24px 16px 24px">
                  If you ever need help, just reply to this email and one of us
                  will get back to you shortly. We’re here to help.
                </div>
              </div>
              <div style="padding:16px 40px 8px 36px">
                <hr
                  style="width:100%;border:none;border-top:2px solid #ffffff;margin:0"
                />
              </div>
              <div
                style="font-size:15px;font-weight:normal;padding:16px 24px 4px 24px"
              >
                Best regards,
              </div>
              <div
                style="font-size:15px;font-weight:bold;padding:0px 24px 40px 24px"
              >
                The LocalMarket Team
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
